{% extends "layout.html" %}
{% block inventory %}


<div class="col-md-9 col-lg-9 panel panel-danger product_list" >
      <!-- one inventory unit -->
    {% for each_item in all_products %}

      <div class="col-md-3 col-lg-3 panel panel-danger inventory">
          <a href="{{ url_for('product_introduce',pro_code = each_item.pro_code) }}" role="button" >
            <img class="img-thumbnail preview-pic" src="{{ url_for('static',filename = each_item.pro_img ) }}"/>
          </a>
      <p>{{ each_item.pro_name }}</p>
         <p>${{ each_item.pro_o_price }}</p>

          {% if each_item.promotion_id != 0 %}
            {% if each_item.pro_type == 1 %}
                <h4>
                    <code>${{ '%0.1f' | format(each_item.pro_o_price*each_item.discount_value*0.01|float) }}(折扣价)</code>
                </h4>
            {% elif each_item.pro_type == 2 %}
                <h4>
                    <code>
                        买{{ each_item.pro_buy }}赠{{ each_item.pro_get }}
                    </code>
                </h4>
            {% elif each_item.pro_type == 3 %}
                <h4>
                    <code>
                        ${{ each_item.pro_price }}(特价)
                    </code>
                </h4>
            {% elif each_item.pro_type == 4 %}
                <h4>
                    <code>
                        <code>
                            免运费
                        </code>
                    </code>
                </h4>
            {% endif %}

          {% else %}
          <p>&nbsp;</p>
          {% endif %}

          <a href="{{ url_for('product_introduce',pro_code = each_item.pro_code) }}" role="button" class="btn btn-warning">点击详情</a>
      </div>
    {% endfor %}



    </div>
{% endblock %}