<div class="col-md-3 col-lg-3 nev">
      <div class="panel-group" id="accordion">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">心血管糖尿病系列 {{ g.a }}</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="menu_1">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">&nbsp;心血管&nbsp;</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">&nbsp;糖尿病&nbsp;</a>

            </div>
          </div>





        </div>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">癌症与免疫系统保健系列</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="menu_1">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">&nbsp;心血管&nbsp;</a>
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">&nbsp;糖尿病&nbsp;</a>

            </div>
          </div>
        </div>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </div>
        </div>
      </div>
    </div>