{% extends "layout.html" %}


{% block product_introduce %}
<script src="../static/js/bootstrap-magnify.min.js"></script>
<link rel="stylesheet" href="../static/css/bootstrap-magnify.min.css">
<script>
        $(function(){
            var t = $("#text_box");
            $("#add").click(function(){
                t.val(parseInt(t.val())+1)
                setTotal();
            })

            $("#min").click(function(){

                if (t.val() > 1)
                {
                t.val(parseInt(t.val())-1)
                setTotal();}
            })
            function setTotal(){
                $("#total").html((parseInt(t.val())*3.95).toFixed(2));
            }
            setTotal();
        })
</script>







<div class="col-md-9 col-lg-9 panel panel-danger product_list" >
<div class='col-md-5 col-lg-5 panel panel-danger order-page text-danger' style='text-align:center'>
<h3>{{ selected_product.pro_name }}</h3>
    <img data-toggle='magnify' class='img-thumbnail preview-pic' src="{{ url_for('static',filename= selected_product.pro_img ) }}" style='height:85%;width:85%'/>
</div>
{{ selected_product.pro_type }}
<div class='col-md-4 col-lg-4 panel panel-danger order-page'>
    <ul class='list-group'>
        <li class='list-group-item '><h4>产品名称: {{ selected_product.pro_name}}</h4></li>
        <li class='list-group-item'>产品品牌: {{ selected_product.pro_brand}}</li>
        <li class='list-group-item'>规格: {{ selected_product.pro_spec}}</li>
        <li class='list-group-item'>邮寄重量: {{ selected_product.pro_weight}}公斤</li>
        {% if selected_product.promotion_enabled|string == '1' %}

            {% if discount_info.pro_type|string =='1' %}
            <li class='list-group-item'>折扣:{{ discount_info.discount_value }}</li>
            <li class='list-group-item'><del>零售价格(CAD):${{ selected_product.pro_o_price }}</del></li>
            <li class='list-group-item'><h4 class='text-danger'>折扣价格(CAD):${{ selected_product.discount_price }}</h4></li>
            <input type='hidden' value='{{ selected_product.promotion_id }}' name='notice_promotion'/>

            {% elif discount_info.pro_type|string == '2' %}
            <li class='list-group-item'><h4 class='text-danger'>买 {{ discount_info.pro_buy }} 赠 {{ discount_info.pro_get }}</h4></li>
            <li class='list-group-item'><h4>零售价格(CAD):${{ selected_product.pro_o_price }}</h4></li>
            <input type='hidden' value='{{ selected_product.promotion_id }}' name='notice_promotion'>

            {% elif discount_info.pro_type|string == '3' %}
            <li class='list-group-item'><del class='text-danger'>零售价格(CAD): ${{ selected_product.pro_o_price }}</del></li>
            <li class='list-group-item'><h4 class='text-success'>优惠价格(CAD): ${{ selected_product.pro_price }}</h4></li>
            <input type='hidden' value='{{ selected_product.promotion_id }}' name='notice_promotion'>

            {% elif discount_info.pro_type|string == '4' %}
            <li class='list-group-item'><h4>零售价格(CAD): ${{ selected_product.pro_o_price }}</h4></li>
            <li class='list-group-item'><h3 class='text-danger'>免运费</h3></li>
            <input type='hidden' value='{{ selected_product.promotion_id }}' name='notice_promotion'>


            {% endif %}
        {% else %}
        <li class='list-group-item'><h4>零售价格(CAD): ${{ selected_product.pro_o_price }}</h4></li>
        <input type='hidden' value='no_promotion' name='notice_promotion'>

        {% endif %}



    </ul>
</div>







<div class='col-md-5 col-lg-5 panel panel-danger order-page-m' >
    <a href='http://www.weibo.com/beimeihaoshiguang' target='_blank'><img width='38' height='38' src='image/icon_img/weibo.jpg'>新浪微博</a>
          &nbsp;&nbsp;&nbsp;&nbsp;
    <a href='http://www.weibo.com/beimeihaoshiguang' target='_blank'><img width='38' height='38' src='image/icon_img/weichat.png'>腾讯微信</a>

</div>

<div class='col-md-4 col-lg-4 panel panel-danger order-page-m' >
        <div class='col-md-7 col-lg-7' style=''>
          购买数量<br/>
          <button class='btn btn-danger btn-xs' id='min'  name='' type='button' value='-'' />-</button>
          <input id='text_box' name='text_box' type='text' value='1' size='3' readonly/>
          <button class='btn btn-danger btn-xs' id='add' name='' type='button' value='+'' />+</button>
        </div>

        <div class='col-md-5 col-lg-5'>
          <button type='submit' class='btn btn-danger glyphicon glyphicon-shopping-cart' style='height:50px;margin-right:20px'>&nbsp;加入购物车</button>
        </div>
</div>

<div class='col-md-9 col-lg-9 panel panel-danger product_des' style='height:240px'>产品描述


<textarea class = 'form-control' rows='9' name='pro_des' style='border: none;resize: none;outline: none;background-color: transparent;' >


  {{ selected_product.pro_description }}
</textarea>

</div>

<div class='col-md-9 col-lg-9 panel panel-danger product_des' style='height:100px;color:#888'>免责声明
<div class = 'form-control'  style='border: none;resize: none;outline: none;background-color: transparent;' >
<font style='color:#888;'>本公司代理的保健品不能代替医生的诊断和治疗，有疾病和不适建议您应先寻求医生或健康专业人士的帮助。服用前，注意阅读有关说明，尤其是对怀孕，哺乳或食物过敏者的警告提示 。</font>
</div>

</div>

{% endblock %}