{% extends "layout.html" %}
{% block shopping_cart %}
<div class='col-md-9 col-lg-9 panel panel-danger product_list' style='float:right;padding-top:15px;'>
<form action = 'user_payment.php' method='POST' enctype='multipart/form-data'>


<table class='table  table-bordered table-hover table-condensed'>
<thead>
<tr style='width:30px;'>
    <th>产品图片</th>
    <th>产品名称</th>
    <th>产品单价</th>
    <th>产品数量</th>
    <th>产品总价</th>
    <th>修改订单</th>
</tr>
</thead>
    <tbody>
    {% if list_all != 'no item' %}
    {% for each_item in list_all %}

    <tr>
        <td><img src="{{ url_for('static',filename = each_item.pro_img ) }}" height="100" width="100"/></td>
        <td>{{ each_item.pro_name }}</td>


        {% if each_item.pro_promotion['pro_type'] %}

            <!-- 折扣百分比-->
            {% if each_item.pro_promotion['pro_type'] == '1' %}
                <td>
                    <del>${{ each_item.pro_o_price }}<br/></del>

                    ${{ each_item.pro_promotion['final_price'] }} <br/>
                    （折扣价）
                </td>
                <td>
                    {{ each_item['pro_quantity'] }}
                </td>

            <!-- 买赠优惠 -->
            {% elif each_item.pro_promotion['pro_type'] == '2' %}
                <td>
                    ${{ each_item.pro_o_price }}
                </td>
                <td>
                    {{ each_item.pro_promotion['pro_quantity'] }}
                    {% if each_item.pro_promotion['real_get'] != 0 %}
                        + {{ each_item.pro_promotion['real_get'] }}
                    {% endif %}

                </td>


            <!-- 特价优惠-->
            {% elif each_item.pro_promotion['pro_type'] == '3' %}

                <td>{{ each_item.pro_promotion['pro_o_price'] }} <br/>
                    {{ each_item.pro_promotion['pro_price'] }}
                </td>



            {% endif %}
                    <td>
                    ${{ each_item.pro_promotion['total_price'] }}

                </td>
        {% else %}
        <td>{{ each_item.pro_quantity}}</td>

        {% endif %}








        <td><a href="{{ url_for('shopping_cart',pro_code = each_item.pro_code) }}" role="button" class="btn btn-warning">删除商品</a></td>
    </tr>
    {% endfor %}
    </tbody>
{% endif %}
</table>
</form>

</div>


{% endblock %}

