{% extends "layout.html" %}
{% block shopping_cart %}
<div class='col-md-9 col-lg-9 panel panel-danger product_list' style='float:right;padding-top:15px;'>
<form action = 'user_payment.php' method='POST' enctype='multipart/form-data'>


<table class='table  table-bordered table-hover table-condensed'>
<thead>
<tr style='width:30px;'>
    <th>产品图片</th>
    <th>产品名称</th>
    <th>产品单价</th>
    <th>产品数量</th>
    <th>产品总价</th>
    <th>修改订单</th>
</tr>
</thead>
    <tbody>
    {% if list_all != 'no item' %}
    {% for each_item in list_all %}

    <tr>
        <td><img class="img-thumbnail preview-pic" src="{{ url_for('static',filename = each_item.pro_img ) }}" height="100" width="100"/></td>
        <td>{{ each_item.pro_name }}</td>
        <td>{{ each_item.pro_o_price }}</td>

        {% if each_item.pro_promotion['pro_type'] %}
            {% if each_item.pro_promotion['pro_type'] == '2' %}
                <td>
                {{ each_item.pro_promotion['pro_quantity'] }} + {{ each_item.pro_promotion['real_get'] }}
               </td>
            {% endif %}
        {% else %}
        <td>{{ each_item.pro_quantity}}</td>

        {% endif %}


            <td>test1</td>






        <td><a href="{{ url_for('shopping_cart',pro_code = each_item.pro_code) }}" role="button" class="btn btn-warning">删除商品</a></td>
    </tr>
    {% endfor %}
    </tbody>
{% endif %}
</table>
</form>

</div>


{% endblock %}

